a:link { color: #29e8ff; background-color: #1a1a1a; }
a:visited { color: #29e8ff; background-color: transparent; }
a:hover { color: #ff3b8b; background-color: #000; }
a:active {}
h2 a:link, h2 a:visited, h2 a:hover, h2 a:active { background-color: transparent; }
#wrapper { color: #d1d1d1; }

h1 { background-color:transparent; color:#D1D1D1; }
h3 { color: #ffffa9; background-color: #1a1a1a; }
h4, h5, h6 { color: #d1d1d1; background-color: #14050c; }
#header h1 { color: #ffffa9;	background-color: #14050c; }
#header h2 { color: #ffffa9; }



	@-webkit-keyframes links {
		    0%   { color: #FF0000; }
		    23% { color: #FFF; }
		    33% { color: #F0F; }
		    43% { color: #DEA; }
		    66% { color: #000; }
			100%   { color: #FF0000; }
	}

/*
	a, a:link, a:visited, a:hover, a:active, h2, #title h1 {
		-webkit-animation-name: links;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-duration: 15s;
		-webkit-animation-direction: normal;
	}
*/
	a:hover { text-decoration:none; }
	
	
	
	@-webkit-keyframes bgfadein{
		    0%   { opacity: 0; }
			100%   { opacity: 1; }
	}
	
	@-webkit-keyframes bgfadeout{
		    0%   { opacity: 1; }
			100%   { opacity: 0; }
	}
	
	body { background-image: none; background-color: #000; }
	
	#bg {
		position:fixed;
		background-color: #000;
		bottom:0;
		left:0;
		height:100%;
		width:100%;
	}
	#bg .portfolio, #bg .blog, #bg .projects {
		background:transparent url('images/H-1_S+19_FADE.png') repeat-x 0 0; width: 100%; height: 100%; 
		position:absolute; left: 0; bottom: 0;
		height:536px;
	}
	#bg .blog {
		background-image: url('images/H-51_S+19_FADE.png');
	}
	#bg .projects {
		background-image: url('images/H+180_S+19_FADE.png');
	}	
	
	#bg .portfolio.lines, #bg .blog.lines, #bg .projects.lines {
		background:transparent url('images/H-1_S+19_OUTLINES2.png') repeat 0 100%; width: 100%; height: 100%; 
		position:absolute; left: 0;
		bottom: 536px;
	}	
	#bg .blog.lines {
		background-image: url('images/H-51_S+19_OUTLINES2.png');
	}
	#bg .projects.lines {
		background-image: url('images/H+180_S+19_OUTLINES2.png');
	}	
	
	#bg div {
		-webkit-transform: translateZ(0);
		opacity:0;
	}
	
	body.about #bg .portfolio {
		-webkit-animation-name: bgfadein;
		-webkit-animation-timing-function: ease-in-ease-out;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-duration: 4s;
		-webkit-animation-direction: normal;
	}
	
	body.about #bg .portfolio {
		-webkit-animation-name: bgfadein;
		-webkit-animation-timing-function: ease-in-ease-out;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-duration: 4s;
		-webkit-animation-direction: normal;
	}	
	
	/*
	#bg .blog {
		-webkit-animation-delay: 15s;
	}
	#bg .projects {
		-webkit-animation-delay: 30s;
	}
	*/
