---
layout: post
title: Work
style: |
  .portfolio { position: relative; }
  .categories {text-align: right; width: 180px; }
  .projects { display: none; position:absolute; left: 200px; top: 0; text-align: left; }
  .portfolio li.active { border-right: solid 1px #FF3B8B; padding-right: 7px; }
  .portfolio li.active a {color:#FF3B8B;}
  .portfolio li.active ul a {color:#29E8FF;}
  .portfolio li.active ul a:hover {color:#FF3B8B;}
script: |
  $(function() {
    $("ul.categories > li").mouseover(function() {
      $(this).parent().find("li").removeClass("active");
      $(this).addClass("active");
      $(this).parent().find("li>ul").css("display", "none");
      $(this).find("ul").css("display", "block");
    }).mouseout(function() {
      //$(this).find("ul").css("display", "none");
    });
  });
---

<!--<h2>Labels:</h2>-->

<div class="portfolio">
	<ul class="categories">
	{% for category in site.categories %}
	  <li><a href="#{{ category | first }}">{{ category | first }}</a>
		<ul class="projects">
		{% for posts in category %}
		  {% for post in posts %}
			<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		  {% endfor %}
		{% endfor %}
		</ul>
	  </li>
	{% endfor %}
	</ul>
	{% for post in site.categories.quickstart %}
	<!-- h2><a href=".{{ post.url }}">{{ post.title }}</a></h2 -->
	<!-- {{ post.content }} -->
	{% endfor %}
</div>