<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<!-- Why hello there,in case you were wondering, you are looking at the production version of this site. Now carry on. -->
	<head>
		<title>jesse fulton [dot com] - alvin ailey</title>		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en-US" />
<meta name="description" content="Jesse Fulton - Artist, Programmer, Hacker" />
<meta name="keywords" content="artist,designer,internet art,net art,social practice,performance art,tactical media,public art,street art,open source,FLOSS,performance,front end,frontend,web,web development,jesse,fulton,jesse fulton,MFA,Santa Cruz, Los Angeles, San Francisco,ca,california,design,art,technology,geek,nerd,research,mechatronics,UCSC" />		<link href="../../js/jquery/plugins/jquery.lightbox-0.5/jquery.lightbox-0.5.css" media="screen" rel="stylesheet" type="text/css" />
<link href="../../css/v3/style.css" media="print,screen" rel="stylesheet" type="text/css" />				<script type="text/javascript" src="../../js/jquery/jquery-1.3.2.min.js"></script>		<link rel="shortcut icon" href="../../aniportrait-16x16.gif" />
	</head>
	<body class="module-portfolio controller-index action-view portfolio-index-view no-nav">
	
		<div id="wrapper">
            
<!--
			<div id="header">
                <h1>Jesse Fulton</h1>
                			</div>
-->            
            <div id="tabs">
                <ul class="navigation">
    <li>
        <a id="menu-home" href="../../index.html"><span>Home</span></a>
    </li>
    <li class="active">
        <a id="menu-portfolio" href="../../portfolio.html"><span>Work</span></a>
    </li>
    <li>
        <a id="menu-playground" href="../../playground.html"><span>Experiments</span></a>
    </li>
    <li>
        <a id="menu-tumblog" href="http://blog.jessefulton.com"><span>Blog</span></a>
    </li>
    <li>
        <a id="menu-contact" href="../../contact.html"><span>Contact</span></a>
    </li>
</ul>            </div>
            
            <div id="main">
                				
    <div class="breadcrumbs">
        <a id="breadcrumbs-portfolio" href="../../portfolio.html">Work</a> &gt; <a id="breadcrumbs-the-past" href="../category/the-past.html">Where I've Been</a> &gt; Alvin AIley    </div>

	<div class="content">
		<h2>Alvin AIley <span class="date">(2010)</span></h2>

		    	<div class="visuals">
            <div id="media-space">
            	<div id="click-to-hover">click to expand</div><a id="main-media-link" href="alvin-ailey.html#"><img width="536px" height="388px" src="../../images/portfolio/web-dev/alvin-ailey-1_m.jpg" /></a>            </div>
                		<div class="tiny-thumbs">
    			<h3>Media</h3>
        		<ul>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/web-dev/alvin-ailey-1_t.jpg" class="type-image height-388 width-536 portrait" width="38px" height="38px" id="tiny-a2b1c294d08077c19ba0c1dd4076f84b" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/web-dev/alvin-ailey-2_t.jpg" class="type-image height-388 width-536 portrait" width="38px" height="38px" id="tiny-9e183b3a8653d5c1b53549e38e08ffd0" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/web-dev/alvin-ailey-3_t.jpg" class="type-image height-388 width-536 portrait" width="38px" height="38px" id="tiny-2ece5853e0b9395aaff0397e4ae0bba6" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/web-dev/alvin-ailey-4_t.jpg" class="type-image height-388 width-536 portrait" width="38px" height="38px" id="tiny-7ca101a7d82ec97d88b0f53abef7cd2a" /></a></li>
            		        		</ul>
    		</div>
    		    	</div>
				
		
		<div class="item-content-wrapper">
		        		<div class="item-content description">
    			<h3>What it Was</h3>
    			<p class="first">
							The Alvin Ailey American Dance Theater is one of the most influential dance companies and schools in America.
							This project aimed to streamline and modernize their web presence with a content-rich site accompanied by engaging, rich media. 
						</p>    		</div>
    		    		    		<div class="item-content role">	
    			<h3>What I Did</h3>
    			<p class="first">
							As the lead developer on this project, I was responsible for architecting the system and workflow of three sites which included
							an event calendar, rich media uploading, donation and payment gateways, and e-mail marketing.
			</p>
			<p>
							I also provided hands-on Drupal training for the production team in New York.
						</p>    		</div>
    		    		    		<div class="item-content importance">
    			<h3>Why You Should Care</h3>
    			<p class="first">
							The site was nomiated as an <a href="http://www.mediapost.com/events/?/showID/OMMAAwards.10.NYC/fa/e.awardVoting/itemID/1416/voting.html">OMMA Award</a>
							finalist in the Charity/Non-Profit Organizations category.
						</p>    		</div>
    				</div>
		
					<div class="meta">
				<dl>
		            					<dt>URL</dt>
					<dd><a href="http://www.alvinailey.org" title="Alvin AIley">http://www.alvinailey.org</a></dd>
                    		
				</dl>
			</div>
			</div>
	

	<div id="next-page"><a href="mastercard-holidays.html" title="Next item: MasterCard Gift Finder">&gt;</a></div>
            </div>

                        	<div class="clearfix"></div>
				<div id="logo"><a href="../../index.html"><span>home</span></a></div>
            	<div class="clearfix"></div>
		</div>
		
		<script type="text/javascript" src="../../js/jquery/plugins/jquery.lightbox-0.5/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript">
    //<![CDATA[

$(document).ready(function () {
	var slideshow = null;
	
	$('#main-media-link').lightBox({
    	overlayBgColor: '#000',
    	overlayOpacity: 0.9,
    	imageLoading: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-ico-loading.gif',
    	imageBtnClose: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-close.gif',
    	imageBtnPrev: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-prev.gif',
    	imageBtnNext: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-next.gif',
    	containerResizeSpeed: 500
    });
	
	
	$('#main-media-link, #click-to-hover').hover(
		function() {$("#click-to-hover").show();}
		, function() {$("#click-to-hover").hide();}
	);

	try {
	   	$(".tiny-thumbs li:first img").closest("li").addClass("active");
	}
	catch (e) {}
	
	if ($(".tiny-thumbs li img").size() > 1 && $(".tiny-thumbs li img.type-swf").size() == 0) {
    	
    	if (false) { //$.browser.msie && (parseInt($.browser.version) == 6)) {
    	
    	}
		else {    	
        	slideshow = window.setInterval(function() {
        		if ($(".tiny-thumbs li.active").next().size() == 1) {
        			$(".tiny-thumbs li.active + li img").click();
        		}
        		else { 
        			$(".tiny-thumbs li:first img").click();
        		}
        	}, 5000);
        }
	}
	

	$(".tiny-thumbs li img.type-image").each(function() {
		var pimg = new Image();
		pimg.src = $(this).attr("src").replace("_t.", "_m.");
	});
	
	$("#click-to-hover").click(function(){$("#main-media-link").click()});
	
    $(".tiny-thumbs li a, #main-media-link, #click-to-hover").click(function(event) {
    	if (slideshow && (event.button != undefined)) {
    		slideshow = window.clearInterval(slideshow);
    	}
    	return false;
    });
    
    $(".tiny-thumbs li img").click(function() {
    	$(".tiny-thumbs li").removeClass("active");
    	$(this).closest("li").addClass("active");
    
    	if ($(this).hasClass("type-image")) {
			var newSrc = $(this).attr("src").replace("_t.", "_m.");
			var w, h;
			var classesStr = $(this).attr("className");
			var classes = classesStr.split(" ");
			for (var i=0; i < classes.length; i++) {
				if (classes[i].indexOf("width-") == 0) {
					w = (classes[i].replace("width-", ""));
				}
				if (classes[i].indexOf("height-") == 0) {
					h = (classes[i].replace("height-", ""));
				}
			}
			
			$('#main-media-link').attr("href", newSrc.replace("_m.", "_l."));
			
			$("#media-space img").fadeOut(500, function() {
				$("#media-space img").attr("src", newSrc);
				if (w) { $("#media-space img").attr("width", w); }
				if (h) { $("#media-space img").attr("height", h); }
				$("#media-space img").fadeIn(500);
			});	
		}
		else {
			//...
		}
    });
    
    try {
    	$('#main-media-link').attr("href", $("#media-space img").attr("src").replace("_m.", "_l."));
    }
    catch(e) {}
    
});
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
try {
	var pageTracker = _gat._getTracker("UA-1024545-5");
	pageTracker._setDomainName(".jessefulton.com");
	pageTracker._trackPageview();
} catch(err) {}
    //]]>
</script>	</body>
</html>