<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<!-- Why hello there,in case you were wondering, you are looking at the production version of this site. Now carry on. -->
	<head>
		<title>jesse fulton [dot com] - mechatronics research group</title>		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en-US" />
<meta name="description" content="Jesse Fulton - Artist, Programmer, Hacker" />
<meta name="keywords" content="artist,designer,internet art,net art,social practice,performance art,tactical media,public art,street art,open source,FLOSS,performance,front end,frontend,web,web development,jesse,fulton,jesse fulton,MFA,Santa Cruz, Los Angeles, San Francisco,ca,california,design,art,technology,geek,nerd,research,mechatronics,UCSC" />		<link href="../../js/jquery/plugins/jquery.lightbox-0.5/jquery.lightbox-0.5.css" media="screen" rel="stylesheet" type="text/css" />
<link href="../../css/v3/style.css" media="print,screen" rel="stylesheet" type="text/css" />				<script type="text/javascript" src="../../js/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="../../js/swfobject/swfobject.js"></script>		<link rel="shortcut icon" href="../../aniportrait-16x16.gif" />
	</head>
	<body class="module-portfolio controller-index action-view portfolio-index-view no-nav">
	
		<div id="wrapper">
            
<!--
			<div id="header">
                <h1>Jesse Fulton</h1>
                			</div>
-->            
            <div id="tabs">
                <ul class="navigation">
    <li>
        <a id="menu-home" href="../../index.html"><span>Home</span></a>
    </li>
    <li class="active">
        <a id="menu-portfolio" href="../../portfolio.html"><span>Work</span></a>
    </li>
    <li>
        <a id="menu-playground" href="../../playground.html"><span>Experiments</span></a>
    </li>
    <li>
        <a id="menu-tumblog" href="http://blog.jessefulton.com"><span>Blog</span></a>
    </li>
    <li>
        <a id="menu-contact" href="../../contact.html"><span>Contact</span></a>
    </li>
</ul>            </div>
            
            <div id="main">
                				
    <div class="breadcrumbs">
        <a id="breadcrumbs-portfolio" href="../../portfolio.html">Work</a> &gt; <a id="breadcrumbs-present-and-future" href="../category/present-and-future.html">Where I'm Heading</a> &gt; Mechatronics Research Group    </div>

	<div class="content">
		<h2>Mechatronics Research Group <span class="date">(2011)</span></h2>

		    	<div class="visuals">
            <div id="media-space">
            	<div id="video_a46ee8c143cb627d4c874a6ab6689a09">Video content is loading. If it does not appear, please make sure you have javascript enabled.</div>            </div>
                		<div class="tiny-thumbs">
    			<h3>Media</h3>
        		<ul>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/V.jpg" class="type-swf height-400 width-536 portrait" width="38px" height="38px" id="tiny-a46ee8c143cb627d4c874a6ab6689a09" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/V.jpg" class="type-swf height-400 width-536 portrait" width="38px" height="38px" id="tiny-de892e3542a3fdf5833fe236c95360d5" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/V.jpg" class="type-swf height-400 width-536 portrait" width="38px" height="38px" id="tiny-bd8dfd6caefc33ba269d218efcd31302" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/V.jpg" class="type-swf height-400 width-536 portrait" width="38px" height="38px" id="tiny-bca70213a1f0d586681e79d97f8f1d7a" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/V.jpg" class="type-swf height-400 width-536 portrait" width="38px" height="38px" id="tiny-dd8f54e2d73c7abcf128f216b6fa6f2c" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/V.jpg" class="type-swf height-400 width-536 portrait" width="38px" height="38px" id="tiny-8315a6d75b6bdf412aee3a9d08f15a62" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/V.jpg" class="type-swf height-400 width-536 portrait" width="38px" height="38px" id="tiny-e5c0d622b75343258a450f023bb92e4d" /></a></li>
            		        		</ul>
    		</div>
    		    	</div>
				
		
		<div class="item-content-wrapper no-role no-importance">
		        		<div class="item-content description">
    			<h3>What it Was</h3>
    			<p class="first">
							The Mechatronics Research Group consisted of three students in the Digital Arts + New Media
							program at the University of California Santa Cruz. We are currently investigating possibilities of
							various installations concerned with the relationship between air quality and asthma and their socio-political effects.
			</p>
			<p>
							We are currently researching and prototyping projects using web-based systems, computer vision, and physical computing.
							The videos above demonstrate a few of the prototypes and proof-of-concepts I have been working on within the group.
			</p>
			<p>
							Code for the drawing machine can be found on <a href="https://github.com/jessefulton/drawing-machine">github</a>. Images of finished prints can be seen at <a href="http://www.flickr.com/photos/jessefulton/sets/72157629021647557/">Flickr</a>.
						</p>    		</div>
    		    		    				</div>
		
			</div>
	
	<div id="prev-page"><a href="free-walls.html" title="Previous item: The Free Walls Project">&lt;</a></div>

	<div id="next-page"><a href="webcam-navigation.html" title="Next item: Webcam Navigation">&gt;</a></div>
            </div>

                        	<div class="clearfix"></div>
				<div id="logo"><a href="../../index.html"><span>home</span></a></div>
            	<div class="clearfix"></div>
		</div>
		
		<script type="text/javascript" src="../../js/jquery/plugins/jquery.lightbox-0.5/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript">
    //<![CDATA[

$(document).ready(function () {
	var slideshow = null;
	
	$('#main-media-link').lightBox({
    	overlayBgColor: '#000',
    	overlayOpacity: 0.9,
    	imageLoading: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-ico-loading.gif',
    	imageBtnClose: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-close.gif',
    	imageBtnPrev: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-prev.gif',
    	imageBtnNext: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-next.gif',
    	containerResizeSpeed: 500
    });
	
	
	$('#main-media-link, #click-to-hover').hover(
		function() {$("#click-to-hover").show();}
		, function() {$("#click-to-hover").hide();}
	);

	try {
	   	$(".tiny-thumbs li:first img").closest("li").addClass("active");
	}
	catch (e) {}
	
	if ($(".tiny-thumbs li img").size() > 1 && $(".tiny-thumbs li img.type-swf").size() == 0) {
    	
    	if (false) { //$.browser.msie && (parseInt($.browser.version) == 6)) {
    	
    	}
		else {    	
        	slideshow = window.setInterval(function() {
        		if ($(".tiny-thumbs li.active").next().size() == 1) {
        			$(".tiny-thumbs li.active + li img").click();
        		}
        		else { 
        			$(".tiny-thumbs li:first img").click();
        		}
        	}, 5000);
        }
	}
	

	$(".tiny-thumbs li img.type-image").each(function() {
		var pimg = new Image();
		pimg.src = $(this).attr("src").replace("_t.", "_m.");
	});
	
	$("#click-to-hover").click(function(){$("#main-media-link").click()});
	
    $(".tiny-thumbs li a, #main-media-link, #click-to-hover").click(function(event) {
    	if (slideshow && (event.button != undefined)) {
    		slideshow = window.clearInterval(slideshow);
    	}
    	return false;
    });
    
    $(".tiny-thumbs li img").click(function() {
    	$(".tiny-thumbs li").removeClass("active");
    	$(this).closest("li").addClass("active");
    
    	if ($(this).hasClass("type-image")) {
			var newSrc = $(this).attr("src").replace("_t.", "_m.");
			var w, h;
			var classesStr = $(this).attr("className");
			var classes = classesStr.split(" ");
			for (var i=0; i < classes.length; i++) {
				if (classes[i].indexOf("width-") == 0) {
					w = (classes[i].replace("width-", ""));
				}
				if (classes[i].indexOf("height-") == 0) {
					h = (classes[i].replace("height-", ""));
				}
			}
			
			$('#main-media-link').attr("href", newSrc.replace("_m.", "_l."));
			
			$("#media-space img").fadeOut(500, function() {
				$("#media-space img").attr("src", newSrc);
				if (w) { $("#media-space img").attr("width", w); }
				if (h) { $("#media-space img").attr("height", h); }
				$("#media-space img").fadeIn(500);
			});	
		}
		else {
			//...
		}
    });
    
    try {
    	$('#main-media-link').attr("href", $("#media-space img").attr("src").replace("_m.", "_l."));
    }
    catch(e) {}
    
});
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
var srcvideo_a46ee8c143cb627d4c874a6ab6689a09 = "http://vimeo.com/moogaloop.swf?clip_id=28810990&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=ff3b8b&fullscreen=1";
swfobject.embedSWF('http://vimeo.com/moogaloop.swf?clip_id=28810990&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=ff3b8b&fullscreen=1', 'video_a46ee8c143cb627d4c874a6ab6689a09', '536px', '400px', '9.0.0', 'expressInstall.swf', {}, {allowscriptaccess:'always', allowfullscreen:'true', menu:'false'}, {});    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
$('#tiny-a46ee8c143cb627d4c874a6ab6689a09').click(function() {
				$('#media-space').html('<div id="tiny-a46ee8c143cb627d4c874a6ab6689a09"></div>');
				swfobject.embedSWF('http://vimeo.com/moogaloop.swf?clip_id=28810990&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=ff3b8b&fullscreen=1', 'tiny-a46ee8c143cb627d4c874a6ab6689a09', '536px', '400px', '9.0.0', 'expressInstall.swf', {}, {allowscriptaccess:'always', allowfullscreen:'true', menu:'false'}, {});
			});    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
$('#tiny-de892e3542a3fdf5833fe236c95360d5').click(function() {
				$('#media-space').html('<div id="tiny-de892e3542a3fdf5833fe236c95360d5"></div>');
				swfobject.embedSWF('http://vimeo.com/moogaloop.swf?clip_id=29669344&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=ff3b8b&fullscreen=1', 'tiny-de892e3542a3fdf5833fe236c95360d5', '536px', '400px', '9.0.0', 'expressInstall.swf', {}, {allowscriptaccess:'always', allowfullscreen:'true', menu:'false'}, {});
			});    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
$('#tiny-bd8dfd6caefc33ba269d218efcd31302').click(function() {
				$('#media-space').html('<div id="tiny-bd8dfd6caefc33ba269d218efcd31302"></div>');
				swfobject.embedSWF('http://vimeo.com/moogaloop.swf?clip_id=29676828&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=ff3b8b&fullscreen=1', 'tiny-bd8dfd6caefc33ba269d218efcd31302', '536px', '400px', '9.0.0', 'expressInstall.swf', {}, {allowscriptaccess:'always', allowfullscreen:'true', menu:'false'}, {});
			});    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
$('#tiny-bca70213a1f0d586681e79d97f8f1d7a').click(function() {
				$('#media-space').html('<div id="tiny-bca70213a1f0d586681e79d97f8f1d7a"></div>');
				swfobject.embedSWF('http://vimeo.com/moogaloop.swf?clip_id=26435562&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=ff3b8b&fullscreen=1', 'tiny-bca70213a1f0d586681e79d97f8f1d7a', '536px', '400px', '9.0.0', 'expressInstall.swf', {}, {allowscriptaccess:'always', allowfullscreen:'true', menu:'false'}, {});
			});    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
$('#tiny-dd8f54e2d73c7abcf128f216b6fa6f2c').click(function() {
				$('#media-space').html('<div id="tiny-dd8f54e2d73c7abcf128f216b6fa6f2c"></div>');
				swfobject.embedSWF('http://vimeo.com/moogaloop.swf?clip_id=26403961&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=ff3b8b&fullscreen=1', 'tiny-dd8f54e2d73c7abcf128f216b6fa6f2c', '536px', '400px', '9.0.0', 'expressInstall.swf', {}, {allowscriptaccess:'always', allowfullscreen:'true', menu:'false'}, {});
			});    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
$('#tiny-8315a6d75b6bdf412aee3a9d08f15a62').click(function() {
				$('#media-space').html('<div id="tiny-8315a6d75b6bdf412aee3a9d08f15a62"></div>');
				swfobject.embedSWF('http://vimeo.com/moogaloop.swf?clip_id=24256568&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=ff3b8b&fullscreen=1', 'tiny-8315a6d75b6bdf412aee3a9d08f15a62', '536px', '400px', '9.0.0', 'expressInstall.swf', {}, {allowscriptaccess:'always', allowfullscreen:'true', menu:'false'}, {});
			});    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
$('#tiny-e5c0d622b75343258a450f023bb92e4d').click(function() {
				$('#media-space').html('<div id="tiny-e5c0d622b75343258a450f023bb92e4d"></div>');
				swfobject.embedSWF('http://vimeo.com/moogaloop.swf?clip_id=26387597&server=vimeo.com&show_title=1&show_byline=1&show_portrait=1&color=ff3b8b&fullscreen=1', 'tiny-e5c0d622b75343258a450f023bb92e4d', '536px', '400px', '9.0.0', 'expressInstall.swf', {}, {allowscriptaccess:'always', allowfullscreen:'true', menu:'false'}, {});
			});    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
try {
	var pageTracker = _gat._getTracker("UA-1024545-5");
	pageTracker._setDomainName(".jessefulton.com");
	pageTracker._trackPageview();
} catch(err) {}
    //]]>
</script>	</body>
</html>