<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<!-- Why hello there,in case you were wondering, you are looking at the production version of this site. Now carry on. -->
	<head>
		<title>jesse fulton [dot com] - phelps trucking</title>		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en-US" />
<meta name="description" content="Jesse Fulton - Artist, Programmer, Hacker" />
<meta name="keywords" content="artist,designer,internet art,net art,social practice,performance art,tactical media,public art,street art,open source,FLOSS,performance,front end,frontend,web,web development,jesse,fulton,jesse fulton,MFA,Santa Cruz, Los Angeles, San Francisco,ca,california,design,art,technology,geek,nerd,research,mechatronics,UCSC" />		<link href="../../js/jquery/plugins/jquery.lightbox-0.5/jquery.lightbox-0.5.css" media="screen" rel="stylesheet" type="text/css" />
<link href="../../css/v3/style.css" media="print,screen" rel="stylesheet" type="text/css" />				<script type="text/javascript" src="../../js/jquery/jquery-1.3.2.min.js"></script>		<link rel="shortcut icon" href="../../aniportrait-16x16.gif" />
	</head>
	<body class="module-portfolio controller-index action-view portfolio-index-view no-nav">
	
		<div id="wrapper">
            
<!--
			<div id="header">
                <h1>Jesse Fulton</h1>
                			</div>
-->            
            <div id="tabs">
                <ul class="navigation">
    <li>
        <a id="menu-home" href="../../index.html"><span>Home</span></a>
    </li>
    <li class="active">
        <a id="menu-portfolio" href="../../portfolio.html"><span>Work</span></a>
    </li>
    <li>
        <a id="menu-playground" href="../../playground.html"><span>Experiments</span></a>
    </li>
    <li>
        <a id="menu-tumblog" href="http://blog.jessefulton.com"><span>Blog</span></a>
    </li>
    <li>
        <a id="menu-contact" href="../../contact.html"><span>Contact</span></a>
    </li>
</ul>            </div>
            
            <div id="main">
                				
    <div class="breadcrumbs">
        <a id="breadcrumbs-portfolio" href="../../portfolio.html">Work</a> &gt; <a id="breadcrumbs-the-past" href="../category/the-past.html">Where I've Been</a> &gt; Phelps Trucking    </div>

	<div class="content">
		<h2>Phelps Trucking <span class="date">(2005-2006)</span></h2>

				
		
		<div class="item-content-wrapper">
		        		<div class="item-content description">
    			<h3>What it Was</h3>
    			<p class="first">
							Phelps Trucking is a paper goods warehouse and shipping company. I helped build a
							custom, enterprise application used for order tracking, customer relaitionship management,
							shipping routing & scheduling, inventory management, and accounts receievable.
							The web application was used both internally and externally with various tasks, views,
							and reporting functionalities exposed to different user permission levels.
			</p>
			<p>
							Barcodes were attached to the paper receipts 
							for workorders. Throughout order lifecycle, an orders status could be updated
							in the system simply by scanning the affixed barcode.
						</p>    		</div>
    		    		    		<div class="item-content role">	
    			<h3>What I Did</h3>
    			<p class="first">
							I wrote the frontend code to integrate a barcode scanner into the web site for doing dynamic 
							order lookups without the use of a mouse or keyboard.
							I also wrote the corresponding backend code which would index data in the system by processing
							pdf copies of the paper workorders and "reading" the barcodes affixed to them.
			</p>
			<p>
							I also wrote much of the inventory management, shipping routing, and shipping scheduling logic.
						</p>    		</div>
    		    		    		<div class="item-content importance">
    			<h3>Why You Should Care</h3>
    			<p class="first">
							It was a highly dynamic, ajax website which began development before the term "ajax" had been coined.
			</p>
			<p>
							The inclusion of barcode integration provided for a much more efficient user experience and
							helped automate much of the workflow, increasing productivity at the company. 
							The barcoding system was also pretty cool for its time.
							Heck, I think it's still pretty cool now.
						</p>    		</div>
    				</div>
		
			</div>
	
	<div id="prev-page"><a href="mastercard-holidays.html" title="Previous item: MasterCard Gift Finder">&lt;</a></div>

	<div id="next-page"><a href="ljs-signs.html" title="Next item: LJS Signs">&gt;</a></div>
            </div>

                        	<div class="clearfix"></div>
				<div id="logo"><a href="../../index.html"><span>home</span></a></div>
            	<div class="clearfix"></div>
		</div>
		
		<script type="text/javascript" src="../../js/jquery/plugins/jquery.lightbox-0.5/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript">
    //<![CDATA[

$(document).ready(function () {
	var slideshow = null;
	
	$('#main-media-link').lightBox({
    	overlayBgColor: '#000',
    	overlayOpacity: 0.9,
    	imageLoading: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-ico-loading.gif',
    	imageBtnClose: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-close.gif',
    	imageBtnPrev: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-prev.gif',
    	imageBtnNext: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-next.gif',
    	containerResizeSpeed: 500
    });
	
	
	$('#main-media-link, #click-to-hover').hover(
		function() {$("#click-to-hover").show();}
		, function() {$("#click-to-hover").hide();}
	);

	try {
	   	$(".tiny-thumbs li:first img").closest("li").addClass("active");
	}
	catch (e) {}
	
	if ($(".tiny-thumbs li img").size() > 1 && $(".tiny-thumbs li img.type-swf").size() == 0) {
    	
    	if (false) { //$.browser.msie && (parseInt($.browser.version) == 6)) {
    	
    	}
		else {    	
        	slideshow = window.setInterval(function() {
        		if ($(".tiny-thumbs li.active").next().size() == 1) {
        			$(".tiny-thumbs li.active + li img").click();
        		}
        		else { 
        			$(".tiny-thumbs li:first img").click();
        		}
        	}, 5000);
        }
	}
	

	$(".tiny-thumbs li img.type-image").each(function() {
		var pimg = new Image();
		pimg.src = $(this).attr("src").replace("_t.", "_m.");
	});
	
	$("#click-to-hover").click(function(){$("#main-media-link").click()});
	
    $(".tiny-thumbs li a, #main-media-link, #click-to-hover").click(function(event) {
    	if (slideshow && (event.button != undefined)) {
    		slideshow = window.clearInterval(slideshow);
    	}
    	return false;
    });
    
    $(".tiny-thumbs li img").click(function() {
    	$(".tiny-thumbs li").removeClass("active");
    	$(this).closest("li").addClass("active");
    
    	if ($(this).hasClass("type-image")) {
			var newSrc = $(this).attr("src").replace("_t.", "_m.");
			var w, h;
			var classesStr = $(this).attr("className");
			var classes = classesStr.split(" ");
			for (var i=0; i < classes.length; i++) {
				if (classes[i].indexOf("width-") == 0) {
					w = (classes[i].replace("width-", ""));
				}
				if (classes[i].indexOf("height-") == 0) {
					h = (classes[i].replace("height-", ""));
				}
			}
			
			$('#main-media-link').attr("href", newSrc.replace("_m.", "_l."));
			
			$("#media-space img").fadeOut(500, function() {
				$("#media-space img").attr("src", newSrc);
				if (w) { $("#media-space img").attr("width", w); }
				if (h) { $("#media-space img").attr("height", h); }
				$("#media-space img").fadeIn(500);
			});	
		}
		else {
			//...
		}
    });
    
    try {
    	$('#main-media-link').attr("href", $("#media-space img").attr("src").replace("_m.", "_l."));
    }
    catch(e) {}
    
});
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
try {
	var pageTracker = _gat._getTracker("UA-1024545-5");
	pageTracker._setDomainName(".jessefulton.com");
	pageTracker._trackPageview();
} catch(err) {}
    //]]>
</script>	</body>
</html>