<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<!-- Why hello there,in case you were wondering, you are looking at the production version of this site. Now carry on. -->
	<head>
		<title>jesse fulton [dot com] - photography</title>		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en-US" />
<meta name="description" content="Jesse Fulton - Artist, Programmer, Hacker" />
<meta name="keywords" content="artist,designer,internet art,net art,social practice,performance art,tactical media,public art,street art,open source,FLOSS,performance,front end,frontend,web,web development,jesse,fulton,jesse fulton,MFA,Santa Cruz, Los Angeles, San Francisco,ca,california,design,art,technology,geek,nerd,research,mechatronics,UCSC" />		<link href="../../js/jquery/plugins/jquery.lightbox-0.5/jquery.lightbox-0.5.css" media="screen" rel="stylesheet" type="text/css" />
<link href="../../css/v3/style.css" media="print,screen" rel="stylesheet" type="text/css" />				<script type="text/javascript" src="../../js/jquery/jquery-1.3.2.min.js"></script>		<link rel="shortcut icon" href="../../aniportrait-16x16.gif" />
	</head>
	<body class="module-portfolio controller-index action-view portfolio-index-view no-nav">
	
		<div id="wrapper">
            
<!--
			<div id="header">
                <h1>Jesse Fulton</h1>
                			</div>
-->            
            <div id="tabs">
                <ul class="navigation">
    <li>
        <a id="menu-home" href="../../index.html"><span>Home</span></a>
    </li>
    <li class="active">
        <a id="menu-portfolio" href="../../portfolio.html"><span>Work</span></a>
    </li>
    <li>
        <a id="menu-playground" href="../../playground.html"><span>Experiments</span></a>
    </li>
    <li>
        <a id="menu-tumblog" href="http://blog.jessefulton.com"><span>Blog</span></a>
    </li>
    <li>
        <a id="menu-contact" href="../../contact.html"><span>Contact</span></a>
    </li>
</ul>            </div>
            
            <div id="main">
                				
    <div class="breadcrumbs">
        <a id="breadcrumbs-portfolio" href="../../portfolio.html">Work</a> &gt; <a id="breadcrumbs-present-and-future" href="../category/present-and-future.html">Where I'm Heading</a> &gt; Photography    </div>

	<div class="content">
		<h2>Photography</h2>

		    	<div class="visuals">
            <div id="media-space">
            	<div id="click-to-hover">click to expand</div><a id="main-media-link" href="photography.html#"><img width="536px" height="388px" src="../../images/portfolio/photography/portraits/tats_m.jpg" /></a>            </div>
                		<div class="tiny-thumbs">
    			<h3>Media</h3>
        		<ul>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/portraits/tats_t.jpg" class="type-image height-388 width-536 portrait" width="38px" height="38px" id="tiny-b9f57e7e49b82df5720b017219ba6178" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/portraits/sham-tats_t.jpg" class="type-image height-356 width-536 portrait" width="38px" height="38px" id="tiny-d8c2d68d8283f9f9e3b6ec5bff6e2e81" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/portraits/heather-1_t.jpg" class="type-image height-356 width-536 portrait" width="38px" height="38px" id="tiny-79da19c37506a01cc324b016ff17bb3c" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/portraits/mat-1_t.jpg" class="type-image height-356 width-536 portrait" width="38px" height="38px" id="tiny-c7b3fa00189c982871c6ee3c1bde197e" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/poladroids/locks_t.jpg" class="type-image height-400 width-329 landscape" width="38px" height="38px" id="tiny-157a6fd136456f8296915258c112f7aa" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/poladroids/record-collector_t.jpg" class="type-image height-400 width-329 landscape" width="38px" height="38px" id="tiny-4c6fd38732689a3d00ae624cf4d10f7d" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/poladroids/slow-children_t.jpg" class="type-image height-400 width-329 landscape" width="38px" height="38px" id="tiny-3e92a495f153153791cf4cf32565f8d4" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/poladroids/drains-to-space_t.jpg" class="type-image height-400 width-329 landscape" width="38px" height="38px" id="tiny-87d7a5247f26e76e0ff9448f36943f20" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/concert/brodz-2_t.jpg" class="type-image height-356 width-536 portrait" width="38px" height="38px" id="tiny-2606978293cfa7ad254f144366abe11c" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/concert/knauss-1_t.jpg" class="type-image height-400 width-266 landscape" width="38px" height="38px" id="tiny-cc4f4afa155ee2fcef0d817f6fd7e8c2" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/nature/wave-crash_t.jpg" class="type-image height-358 width-536 portrait" width="38px" height="38px" id="tiny-20400d119609c2828d185d7b7b1f359e" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/nature/beach-fence_t.jpg" class="type-image height-400 width-267 landscape" width="38px" height="38px" id="tiny-fe4359953c5d9852e3c5fd6225ce16d4" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/other/hearst-pool_t.jpg" class="type-image height-358 width-536 portrait" width="38px" height="38px" id="tiny-6e8ad0feaa2d40b0d994b289bcb2e252" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/other/shampoo1_t.jpg" class="type-image height-400 width-267 landscape" width="38px" height="38px" id="tiny-0fbdae6024797b067834936c455c808a" /></a></li>
            		            		<li><a href="javascript:void(0);"><img src="../../images/portfolio/photography/other/comfort-food_t.jpg" class="type-image height-358 width-536 portrait" width="38px" height="38px" id="tiny-3880ee3d3bc0a443dc89400212ff5364" /></a></li>
            		        		</ul>
    		</div>
    		    	</div>
				
		
		<div class="item-content-wrapper no-description no-role no-importance">
		        		    				</div>
		
					<div class="meta">
				<dl>
		            					<dt>URL</dt>
					<dd><a href="http://www.flickr.com/photos/jessefulton/" title="Photography">http://www.flickr.com/photos/jessefulton/</a></dd>
                    		
				</dl>
			</div>
			</div>
	
	<div id="prev-page"><a href="the-monthly-challenge.html" title="Previous item: The Monthly Challenge">&lt;</a></div>

            </div>

                        	<div class="clearfix"></div>
				<div id="logo"><a href="../../index.html"><span>home</span></a></div>
            	<div class="clearfix"></div>
		</div>
		
		<script type="text/javascript" src="../../js/jquery/plugins/jquery.lightbox-0.5/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript">
    //<![CDATA[

$(document).ready(function () {
	var slideshow = null;
	
	$('#main-media-link').lightBox({
    	overlayBgColor: '#000',
    	overlayOpacity: 0.9,
    	imageLoading: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-ico-loading.gif',
    	imageBtnClose: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-close.gif',
    	imageBtnPrev: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-prev.gif',
    	imageBtnNext: '/js/jquery/plugins/jquery.lightbox-0.5/images/lightbox-btn-next.gif',
    	containerResizeSpeed: 500
    });
	
	
	$('#main-media-link, #click-to-hover').hover(
		function() {$("#click-to-hover").show();}
		, function() {$("#click-to-hover").hide();}
	);

	try {
	   	$(".tiny-thumbs li:first img").closest("li").addClass("active");
	}
	catch (e) {}
	
	if ($(".tiny-thumbs li img").size() > 1 && $(".tiny-thumbs li img.type-swf").size() == 0) {
    	
    	if (false) { //$.browser.msie && (parseInt($.browser.version) == 6)) {
    	
    	}
		else {    	
        	slideshow = window.setInterval(function() {
        		if ($(".tiny-thumbs li.active").next().size() == 1) {
        			$(".tiny-thumbs li.active + li img").click();
        		}
        		else { 
        			$(".tiny-thumbs li:first img").click();
        		}
        	}, 5000);
        }
	}
	

	$(".tiny-thumbs li img.type-image").each(function() {
		var pimg = new Image();
		pimg.src = $(this).attr("src").replace("_t.", "_m.");
	});
	
	$("#click-to-hover").click(function(){$("#main-media-link").click()});
	
    $(".tiny-thumbs li a, #main-media-link, #click-to-hover").click(function(event) {
    	if (slideshow && (event.button != undefined)) {
    		slideshow = window.clearInterval(slideshow);
    	}
    	return false;
    });
    
    $(".tiny-thumbs li img").click(function() {
    	$(".tiny-thumbs li").removeClass("active");
    	$(this).closest("li").addClass("active");
    
    	if ($(this).hasClass("type-image")) {
			var newSrc = $(this).attr("src").replace("_t.", "_m.");
			var w, h;
			var classesStr = $(this).attr("className");
			var classes = classesStr.split(" ");
			for (var i=0; i < classes.length; i++) {
				if (classes[i].indexOf("width-") == 0) {
					w = (classes[i].replace("width-", ""));
				}
				if (classes[i].indexOf("height-") == 0) {
					h = (classes[i].replace("height-", ""));
				}
			}
			
			$('#main-media-link').attr("href", newSrc.replace("_m.", "_l."));
			
			$("#media-space img").fadeOut(500, function() {
				$("#media-space img").attr("src", newSrc);
				if (w) { $("#media-space img").attr("width", w); }
				if (h) { $("#media-space img").attr("height", h); }
				$("#media-space img").fadeIn(500);
			});	
		}
		else {
			//...
		}
    });
    
    try {
    	$('#main-media-link').attr("href", $("#media-space img").attr("src").replace("_m.", "_l."));
    }
    catch(e) {}
    
});
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
try {
	var pageTracker = _gat._getTracker("UA-1024545-5");
	pageTracker._setDomainName(".jessefulton.com");
	pageTracker._trackPageview();
} catch(err) {}
    //]]>
</script>	</body>
</html>