<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<title>{{ page.title }}</title>
	<meta name="author" content="{{ site.author }}" />
	<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/{{ site.feedburner }}" />

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="en-US" />
		<meta name="description" content="Jesse Fulton - Artist, Programmer, Hacker" />
		<meta name="keywords" content="artist,designer,internet art,net art,social practice,performance art,tactical media,public art,street art,open source,FLOSS,performance,front end,frontend,web,web development,jesse,fulton,jesse fulton,MFA,Santa Cruz, Los Angeles, San Francisco,ca,california,design,art,technology,geek,nerd,research,mechatronics,UCSC" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link href="/css/structure.css" media="screen" rel="stylesheet" type="text/css" />
		<style type="text/css">
		{{ page.style }}
		</style>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>		
		<script type="text/javascript">
    $(document).ready(function() {
      {{ page.script }}
    });
		</script>
	</head>
	<body class="module-portfolio controller-index action-view portfolio-index-view no-nav">


        <div id="tabs">
            <ul class="navigation">
			    <li class="active">
			        <a id="menu-home" href="/index.html"><span>Projects</span></a>
			    </li>
			    <li>
			        <a id="menu-portfolio" href="/about.html"><span>About</span></a>
			    </li>
			    <li>
			        <a id="menu-portfolio" href="/cv.html"><span>CV</span></a>
			    </li>
			</ul>
			<div id="headerlogo"><a href="http://jessefulton.com/"><span>home</span></a></div>
		</div>	
	
		<div id="wrapper">
            
            <div id="main">
				{{ content }}


			</div>
		</div>
		<div class="clearfix"></div>
		
		
		
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.ga }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
