---
layout: page
#title: Projects We've Worked On
bodyclass: portfolio
---
<div class="items">
Coming soon...
<!--
    {% for project in page.projects %}
      <div class="item">
        <h2><a href="/portfolio/{{ project[0] }}">{{project[1].title}}</a></h2>
		{% if project[1].thumbnail %}
		<div class="thumbnail">
			<a href="/portfolio/{{ project[0] }}"><img src="{{ project[1].thumbnail.url }}" title="{{ project[1].thumbnail.title }}" alt="{{ project[1].thumbnail.alt }}" width="{{ project[1].thumbnail.width }}" height="{{ project[1].thumbnail.height }}" /></a>
		</div>
		{% endif %}
      </div>
    {% endfor %}
-->

</div>
