---
layout: page
bodyclass: portfolio project
---
	{% if page.date %}
		<div class="date">{{ page.date }}</div>
	{% endif %}
	
	{% if page.video %}
	<iframe src="http://player.vimeo.com/video/{{ page.video.id }}" width="500" height="413" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	{% endif %}
	
	{% if page.image %}
	  <div class="logo">
		<img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" />
	  </div>
	{% endif %}
	
<div class="item-content-wrapper no-role no-importance">
	<div class="item-content description">
		{{ page.description | simple_format }}
		{{ page.project_description | simple_format }}
	</div>
</div>

	
	
	
	{% if page.website %}
		<div class="website"><a href="{{ page.website }}">{{ page.website }}</a></div>
	{% endif %}
